header {
	display: flex;
	background-color: gray;
}

nav {
	display: flex;
	background-color: mediumseagreen;
}

.main-div {
	display: flex;
	justify-content: center;

	& > div {
		display: flex;
		flex-direction: column;

		& aside {
			display: flex;
			justify-content: center;
		}

		& aside.controls {
			background-color: darkkhaki;

			& #edit-but, & #del-but {
				pointer-events: none;
				color: grey;
			}

			& #edit-but.active, & #del-but.active {
				color: black;
				pointer-events: auto;
			}
		}

		& aside.content {
			background-color: cadetblue;

			& #task-content {
				flex-grow: 1;

				color: black;
				font-style: italic;
				font-family: Georgia, 'Times New Roman', Times, serif;
			}

			& #task-content::placeholder {
				color: grey;
				opacity: 0.5;
				font-style: italic;
				font-weight: 600;
				font-family: Georgia, 'Times New Roman', Times, serif;
				transition: all 0.1s linear;
			}

			& #task-content.empty::placeholder {
				color: red;
				font-size: 1.1em;
			}
		}

		& main {
			display: flex;
			flex-direction: column;
			background-color: rebeccapurple;

			& > div {

				& .task.done {
					text-decoration: line-through;
				}

				& .task.selected {
					background-color: beige;
				}
			}
		}
	}
}

footer {
	display: flex;
	background-color: orange;
}

/* app is mobile first, so the default styles are for small screens */
@media (min-width: 500px){
	.main-div {

		& > div {
			flex-direction: row;

			& aside {
				flex-direction: column;
			}
		}
	}
}