
:root {
	--basic-min-width: 160px;
	--basic-width: clamp(var(--basic-min-width), 100vw, 1200px);

	/* desktop */
	--controls-width: 80px;
	--ideal-width: 80vw;
	--max-width: 800px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: var(--basic-width);
	display: flex;
	background-color: gray;
}

nav {
	width: var(--basic-width);
	display: flex;
	background-color: mediumseagreen;
}

.main-div {
	width: var(--basic-width);
	display: flex;
	flex-direction: column;
	align-items: center;

		& > div {
			display: flex;
			flex-direction: column;

			& aside {
				display: flex;
				width: clamp(var(--basic-min-width), 85vw, 400px);
			}

			& aside.controls {
				background-color: darkkhaki;

				& #add-but, & #edit-but, & #del-but, & #save-but {
					pointer-events: none;
					color: grey;
				}

				& #add-but.active, & #edit-but.active, & #del-but.active, & #save-but.active {
					color: black;
					pointer-events: auto;
				}
			}

			& aside.content {
				background-color: cadetblue;

				& #input-content {
					flex-grow: 1;
					color: black;
					font-style: italic;
					font-family: Georgia, 'Times New Roman', Times, serif;
				}

				& #input-content::placeholder {
					color: grey;
					opacity: 0.5;
					font-style: italic;
					font-weight: 600;
					font-family: Georgia, 'Times New Roman', Times, serif;
					transition: all 0.1s linear;
				}

				& #input-content.empty::placeholder {
					color: red;
					font-size: 1.1em;
				}
			}
	}

	& main {
		width: clamp(var(--basic-min-width), 85vw, 400px);
		min-height: 30px;

		background-color: rebeccapurple;

		& > div {

			& .task.done {
				text-decoration: line-through;
			}
		}

		& > div.selected {
			background-color: beige;
		}

		& > div.selected.strict {
			background-color: lightgreen;
		}
	}
}

footer {
	width: var(--basic-width);
	display: flex;
	background-color: orange;
}

/* app is mobile first, so the default styles are for small screens */
@media (min-width: 520px){
	.main-div {

		& > div {
			flex-direction: row;

			& aside {
				flex-direction: column;
			}

			& aside.controls {
				width: var(--controls-width);
			}

			& aside.content {
				width: clamp(
					var(--basic-min-width),
					calc(var(--ideal-width) - var(--controls-width)),
					calc(var(--max-width) - var(--controls-width))
				);
			}

		}

		& main {
			width: clamp(
				var(--basic-min-width),
				var(--ideal-width),
				var(--max-width)
			);
		}
	}
}