
:root {
	--basic-min-width: 160px;
	--basic-width: clamp(var(--basic-min-width), 100vw, 1200px);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: var(--basic-width);
	display: flex;
	background-color: gray;
}

nav {
	width: var(--basic-width);
	display: flex;
	background-color: mediumseagreen;
}

.main-div {
	width: var(--basic-width);
	display: flex;
	flex-direction: column;
	align-items: center;

		& > div {
			display: flex;
			flex-direction: column;

			& aside {
				display: flex;
				width: clamp(var(--basic-min-width), 85vw, 400px);
			}

			& aside.controls {
				background-color: darkkhaki;

				& #edit-but, & #del-but {
					pointer-events: none;
					color: grey;
				}

				& #edit-but.active, & #del-but.active {
					color: black;
					pointer-events: auto;
				}
			}

			& aside.content {
				background-color: cadetblue;

				& #task-content {
					flex-grow: 1;
					color: black;
					font-style: italic;
					font-family: Georgia, 'Times New Roman', Times, serif;
				}

				& #task-content::placeholder {
					color: grey;
					opacity: 0.5;
					font-style: italic;
					font-weight: 600;
					font-family: Georgia, 'Times New Roman', Times, serif;
					transition: all 0.1s linear;
				}

				& #task-content.empty::placeholder {
					color: red;
					font-size: 1.1em;
				}
			}
	}

	& main {
		width: clamp(var(--basic-min-width), 85vw, 400px);
		min-height: 30px;

		background-color: rebeccapurple;

		& > div {

			& .task.done {
				text-decoration: line-through;
			}

			& .task.selected {
				background-color: beige;
			}
		}
	}
}

footer {
	width: var(--basic-width);
	display: flex;
	background-color: orange;
}

/* app is mobile first, so the default styles are for small screens */
@media (min-width: 520px){
	.main-div {

		& > div {
			flex-direction: row;

			& aside {
				flex-direction: column;
			}

			& aside.controls {
				width: 80px;
			}

			& aside.content {
				width: clamp(var(--basic-min-width), (80vw - 80px), 720px);
			}

		}

		& main {
			width: clamp(var(--basic-min-width), 80vw, 800px);
		}
	}
}