
:root {
	--basic-min-width: 160px;
	--basic-width: clamp(var(--basic-min-width), 100vw, 1200px);

	/* desktop */
	--controls-width: 80px;
	--ideal-width: 80vw;
	--max-width: 800px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-style: italic;
	font-weight: bold;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
	width: var(--basic-width);
	position: relative;
	display: flex;
	justify-content: center;

	& #amount {
		width: 50px;
		height: 50px;

		position: absolute;
		left: 25px;
		top: 60px;
		display: flex;
		align-items: center;
		justify-content: center;

		font-size: large;
		font-weight: bold;

		border: 3px solid rebeccapurple;
		border-radius: 25px;

		font-family: 'Times';

		cursor: pointer;
	}

	& .select-text {
		position: absolute;
		left: 90px;
		top: 75px;
	}

}

nav {
	width: var(--basic-width);
	display: flex;
	justify-content: flex-end;
	font-size: 12px;

	& > div{
		display: flex;
		align-items: center;

		& .dark {
			background-color: black;
			padding: 10px;
			color: rebeccapurple;
		}

		& .between {
			width: 40px;
			background-color: grey;
			text-align: center;

			& .left {
				background-color: black;
				color: white;
			}

			& .right {
				background-color: white;
				color: black;
			}
		}

		& .light {
			background-color: white;
			padding: 10px;
			color: blueviolet;
		}

	}
}

.main-div {
	width: var(--basic-width);
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 20px;

	& > div {
		display: flex;
		flex-direction: column;

		& aside {
			display: flex;
			width: clamp(var(--basic-min-width), 85vw, 400px);
		}

		& aside.controls {
			justify-content: center;
			margin-bottom: 7px;

			& #add-but, & #edit-but, & #del-but, & #save-but {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 20px;
				margin: 3px;
				margin-right: 10px;

				pointer-events: none;
				color: grey;
				opacity: 50%;

				filter: drop-shadow(1px 1px 1px black);
			}

			& #add-but.active, & #edit-but.active, & #del-but.active, & #save-but.active {
				color: rebeccapurple;
				pointer-events: auto;
				opacity: 100%;
				cursor: pointer;

				filter: drop-shadow(1px 1px 1px rebeccapurple);
			}
		}

		& aside.content {

			& #input-content {
				flex-grow: 1;
				color: black;
				font-style: italic;
				font-family: Georgia, 'Times New Roman', Times, serif;

				border: none;
				outline: none;
				resize: none;
			}

			& #input-content::placeholder {
				color: grey;
				opacity: 0.5;
				font-style: italic;
				font-weight: 600;
				font-family: Georgia, 'Times New Roman', Times, serif;
				transition: all 0.1s linear;
			}

			& #input-content.empty::placeholder {
				color: blueviolet;
				font-size: 1.1em;
			}

			& #input-content:placeholder-shown {
				border: none;
				outline: none;
				resize: none;
			}

			& #input-content:focus {
				border: none;
				outline: none;
				resize: none;
			}
		}
	}

	& main {
		width: clamp(var(--basic-min-width), 85vw, 400px);
		min-height: 30px;

		margin-top: 5px;

		border: 2px solid black;
		border-radius: 4px;
		padding-top: 5px;
		padding-bottom: 5px;

		& > div {
			display: flex;
			align-items: center;
			padding: 3px;

			& input[type="checkbox"]:checked {
				accent-color: purple;
			}

			& .task {
				margin-left: 5px;
				cursor: pointer;
			}

			& .task.done {
				text-decoration: line-through;
			}
		}

		& > div.selected {
			background-color: blueviolet;
		}

		& > div.selected.strict {
			background-color: lightgreen;
		}
	}
}

footer {
	width: var(--basic-width);
	display: flex;
	background-color: rebeccapurple;
	margin-top: 20px;

	& > div {
		margin: 15px;
		margin-left: 25px;
	}
}

/* app is mobile first, so the default styles are for small screens */
@media (min-width: 520px){
	.main-div {

		& > div {
			flex-direction: row;

			& aside {
				flex-direction: column;
			}

			& aside.controls {
				width: var(--controls-width);
				margin-bottom: 0px;

				& #add-but, & #edit-but, & #del-but, & #save-but {
					border: 2px solid gray;
					border-radius: 10px;
				}

				& #add-but.active, & #edit-but.active, & #del-but.active, & #save-but.active {
					border-color:  rebeccapurple;
				}
			}

			& aside.content {
				width: clamp(
					var(--basic-min-width),
					calc(var(--ideal-width) - var(--controls-width)),
					calc(var(--max-width) - var(--controls-width))
				);
			}

		}

		& main {
			width: clamp(
				var(--basic-min-width),
				var(--ideal-width),
				var(--max-width)
			);
		}
	}
}